html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-1: #001219;
  --color-2: #005f73;
  --color-3: #0a9396;
  --color-4: #94d2bd;
  --color-5: #e9d8a6;
  --color-6: #ee9b00;
  --color-7: #ca6702;
  --color-8: #bb3e03;
  --color-9: #ae2012;
  --color-91: #9b2226;
  --color-green1: #ecf39e;
  --color-green2: #90a955;
  --color-green3: #4f772d;
  --color-green4: #31572c;
  --color-green5: #132a13;
  --color-blue1: #caf0f8;
  --color-blue2: #90e0ef;
  --color-blue3: #00b4d8;
  --color-blue4: #0077b6;
  --color-blue5: #03045e;
  --color-red1: #ad2831;
  --color-red2: #800e13;
  --color-red3: #640d14;
  --color-red4: #38040e;
  --color-red5: #250902;
  --color-bgc1: #d5bdaf;
  --color-bgc2: #e3d5ca;
  --color-bgc3: #f5ebe0;
  --color-bgc4: #d6ccc2;
  --color-bgc5: #edede9;
  --color-h: #223843;
  --color-text: #d77a61;
  --color-border: #d8b4a0;
}

body {
  font-family: serif;
  scroll-behavior: smooth;
  background-color: var(--color-bgc5);
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--color-h);
  padding: 30px;
  font-size: 60px;
}

h1 {
  font-size: 70px;
}

h2 {
  margin: 30px;
  font-size: 55px;
}

p {
  color: var(--color-text);
  padding: 12px;
  margin: 0px 300px 0px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  text-align: justify;

  border-width: 4px;
  border-color: var(--color-border);
  border-radius: 16px;
  border-style: solid;
  line-height: 40px;
}

.box-lithning {
  margin: 0 auto;
  text-align: center;
}

/* MENU */
.menu_main {
  font-size: 0;
  text-align: center;
}
.menu_main li {
  display: inline-block;
  font-size: 30px;
  background-color: var(--color-green1);
  vertical-align: bottom;
  position: relative;
}
.menu_main li:hover {
  background-color: var(--color-green2);
}

ul li + li {
  border-left: 3px solid var(--color-green2);
}
ul ul li + li {
  border: none;
  border-top: 2px solid var(--color-green2);
}

ul li a {
  display: block;
  color: var(--color-blue4);
  text-transform: uppercase;
  padding: 20px 30px;
}
ul a:hover {
  color: var(--color-blue5);
  background-color: var(--color-green3);
}

.open_menu_blocks {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.open_menu li:hover .open_menu_blocks {
  display: block;
}

.open_menu_float {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}

.open_menu_blocks li:hover .open_menu_float {
  display: block;
}

.open_menu_grid {
  position: absolute;
  right: 100%;
  bottom: 0;
  display: none;
}

.open_menu_blocks li:hover .open_menu_grid {
  display: block;
}

/* ul li:hover ul {
  display: block;
} */
/* MENU END */

.conclusion {
  font-weight: 600;
}

.ps {
  border-style: none;
  color: var(--color-h);
  padding-top: 36px;
  margin: 16px;
  font-size: 16px;
  text-align: left;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  padding: 32px;
  display: block;
}
.link:hover {
  color: var(--color-red3);
}

.bottom_main_page_link_list {
  font-size: 0;
}

/* .li-link */
.bottom_main_page_link_list li {
  text-align: justify;
  display: inline-block;
  outline: 6px solid var(--color-red4);
  /* vertical-align: top; */
  font-size: 30px;
}

/* page Cristian Bale navigation */

.navigation {
  position: fixed;
  left: 10px;
  top: 35%;
  display: flex;
  gap: 35px;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 25px;
  border: solid 4px var(--color-blue3);
  background-color: var(--color-blue2);
  border-radius: 12px;
}
.absol_nav:hover {
  color: var(--color-red1);
}

.link-Bale-top a {
  text-align: center;
}

.film {
  margin: 20px 300px;
  border: solid 6px var(--color-border);
  border-radius: 16px;
}

.film-list {
  text-align: center;
  font-size: 24px;
  margin: 0px 200px 0px;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: center;
}
/* plate POSITION BALE PAGE */

.block_film_plate {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.film_plate {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.plate {
  display: none;
}
.film_plate:hover .plate {
  width: 100%;
  background-color: var(--color-green1);
  top: 45%;
  position: absolute;
  display: block;
  height: 50px;
  font-size: 40px;
}

/* Currant war page */

/* BLOCK SECTION */
/* BLOCK PAGE */

.wrapper_block_page > a {
  display: block;
  background-color: var(--color-green1);
  border-bottom: 10px solid var(--color-blue5);
}

.div_task_img {
  color: var(--color-green4);
  outline: solid 6px var(--color-red3);
  background-color: var(--color-blue2);
  margin: 50px 100px;
  float: right;
  max-width: 500px;
}

.table-cell,
.inline-block,
.float,
.float_clr,
.flex-box,
.grid {
  float: left;
}
/* TABLE CELL */

.main-div-table-cell {
  width: 1400px;
  padding: 30px 0;
  margin: 0 auto;
  background-color: var(--color-4);
}

.one,
.two,
.there,
.fore {
  width: 1000px;
  /* height: 250px; */
  margin: 0 auto;
  outline: 4px solid var(--color-1);
  max-height: 300px;
}

.one-a {
  width: 1000px;
  display: table-cell;
  outline: 4px dashed var(--color-91);
  background-color: var(--color-5);
  height: auto;
  font-size: 130px;
}

.two-a,
.two-b {
  /* width: 1000px; */
  display: table-cell;
}

.two-aa,
.two-bb {
  outline: 4px dashed var(--color-91);
  background-color: var(--color-5);
}
.two-aa {
  font-size: 36px;
}
.two-bb {
  font-size: 57px;
}

.there-a,
.there-b,
.there-bb {
  display: table-cell;
  font-size: 50px;
  outline: 4px dashed var(--color-91);
  background-color: var(--color-5);
  width: 1000px;
}

.fore-a,
.fore-b,
.fore-ab,
.fore-aaa,
.fore-aab {
  display: table-cell;
  outline: 4px dashed var(--color-91);
  font-size: 120px;
  background-color: var(--color-5);
}

.fore-aa,
.fore-aaaa,
.fore-aaaa {
  outline: 4px dashed var(--color-91);
  font-size: 20px;
}
.fore-aab {
  font-size: 60px;
}

.fore-aa {
  font-size: 98px;
}

.fore-aaaa {
  font-size: 29px;
}

/* withou table - cell */
.fore-aa,
.fore-aaaa,
.fore-aaaa,
.two-aa,
.two-bb {
  outline: 4px dashed green;
}

/* with table - cell */
.fore-a,
.fore-b,
.fore-ab,
.fore-aaa,
.fore-aab,
.there-a,
.there-b,
.there-bb,
.one-a {
  outline: 4px dashed var(--color-red1);
}

/* INLINE-BLOCK start */
.wrapper_inline-block {
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  outline: 2px solid var(--color-red1);
  font-size: 0px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.w400 {
  width: 400px;
  outline: 2px solid var(--color-red3);
}

.in-b_1 {
  font-size: 0px;
  background-color: var(--color-red1);
}

.in-b_1_a {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  height: 150px;
  width: 400px;
  outline: 3px dashed var(--color-green4);
}

.in-b_2 {
  font-size: 0px;
  width: 1200px;
  height: 300px;
  background-color: var(--color-blue1);
}

.in-b_2_1a {
  outline: 2px solid var(--color-blue2);
  font-size: 40px;
  display: inline-block;
}
.in-b_2_2a {
  width: 800px;
  height: 100px;
  outline: 2px solid var(--color-red3);
}

.in-b_2_1b {
  outline: 2px solid var(--color-red4);
  display: inline-block;
  font-size: 40px;
  vertical-align: top;
}

.in-b_2_2b {
  height: 150px;
  width: 400px;
  outline: 2px solid var(--color-red4);
}

.in-b_3 {
  width: 1200px;
  height: 300px;
  font-size: 0;
  background-color: var(--color-green1);
}

.in-b_3_1a,
.in-b_3_1b {
  font-size: 36px;
  outline: 3px solid var(--color-red2);
  width: 400px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
}
.in-b_3_1b {
  width: 800px;
  height: 300px;
}

.in-b_3_2a,
.in-b_3_2b {
  outline: 2px dashed var(--color-3);
  height: 150px;
}

.in-b_3_2b {
  font-size: 0;
}

.in-b_3_3 {
  outline: 5px dotted var(--color-green4);
  height: 150px;
  display: inline-block;
  width: 400px;
  font-size: 40px;
}

.in-b_4 {
  width: 1200px;
  height: 400px;
  font-size: 0;
  background-color: var(--color-5);
}
.in-b_4_1a,
.in-b_4_1b {
  display: inline-block;
  font-size: 30px;
  outline: 2px solid var(--color-red4);
  width: 800px;
  height: 400px;
  vertical-align: top;
}
.in-b_4_1b {
  width: 400px;
}

.in-b_4_2a,
.in-b_4_2b {
  outline: 6px dotted var(--color-blue4);
  width: 800px;
  height: 200px;
}

.in-b_4_2b {
  font-size: 0;
}

.in-b_4_3a,
.in-b_4_3b {
  outline: 2px dashed var(--color-red1);
  width: 400px;
  display: inline-block;
  font-size: 40px;
  vertical-align: top;
  height: 200px;
}

.in-b_4_4 {
  outline: 4px dashed var(--color-3);
  width: 400px;
  height: 100px;
}

/* INLINE-BLOCK end */

/* FLOAT */
.float_page {
  margin: 0 auto;
  /* display: block; */
  max-width: 1000px;
}

.fl_one,
.fl_two,
.fl_there,
.fl_fore {
  background-color: var(--color-4);
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.fl_one_a {
  width: 300px;
  outline: dashed 4px var(--color-9);
  font-size: 30px;
  float: left;
  height: 140px;
  margin: 0 auto;
}

.clr {
  clear: both;
  height: 30px;
  background-color: var(--color-7);
  max-width: 900px;
  margin: 0 auto;
}

.fl_two_a {
  width: 600px;
  outline: dashed 4px var(--color-9);
  font-size: 50px;
  float: left;
}

.fl_two_aa,
.fl_two_bb {
  outline: dashed 4px var(--color-9);
}
.fl_two_b {
  width: 300px;
  outline: dashed 4px var(--color-9);
  font-size: 35px;
  /* height: 75px; */
  float: left;
}

.fl_there {
}

.fl_there_a,
.fl_there_b {
  float: left;
  height: 200px;
  width: 300px;
  font-size: 50px;
  outline: dashed 4px var(--color-9);
}
.fl_there_b {
  width: 600px;
  font-size: 30px;
}

.fl_there_b1 {
  width: 600px;
  height: 100px;
  outline: solid 6px var(--color-1);
}

.fl_there_b2 {
  float: left;
  width: 300px;
  height: 100px;
  outline: solid 6px var(--color-2);
}

.fl_fore_a,
.fl_fore_b {
  width: 600px;
  height: 200px;
  outline: dashed 2px var(--color-9);
  float: left;
}
.fl_fore_b {
  width: 300px;
}

.fl_fore_ab1,
.fl_fore_ab2 {
  float: left;
  outline: dotted 3px var(--color-1);
  width: 600px;
  height: 100px;
}

.fl_fore_abc1,
.fl_fore_abc2 {
  float: left;
  outline: dotted 5px rgb(239, 240, 235);
  width: 300px;
  height: 100px;
}
.fl_fore_abcd1 {
  /* float: left; */
  outline: dotted 5px rgb(192, 237, 9);
  width: 150px;
  height: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 30px;
  background-color: var(--color-7);
  max-width: 900px;
  margin: 0 auto;
}
/* FLOAT END */

/* FLEX-BOX start */

.wrapper_flex-box {
  width: 900px;
  background-color: var(--color-4);
  margin: 40px auto;
}

.flex_one {
  display: flex;
  margin-bottom: 20px;
}

.flex_one_a {
  outline: solid 2px var(--color-91);
  background-color: var(--color-5);
}

/* TWO */

.flex_two {
  display: flex;
}

.flex_two_a {
  display: flex;
  width: 600px;
}

.flex_two_aa {
  outline: solid 2px var(--color-91);
  background-color: var(--color-5);
}

.flex_two_b {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.flex_two_bb {
  background-color: var(--color-5);
  outline: solid 2px var(--color-91);
}

.flex_there {
  display: flex;
}

.flex_there_a,
.flex_there_b {
  background-color: var(--color-5);
  outline: solid 2px var(--color-91);
  width: 300px;
}

.flex_there_b {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.flex_there_bb {
  background-color: var(--color-5);
  outline: solid 4px var(--color-91);
  display: flex;
  flex-direction: row;
}

.flex_there_bb1,
.flex_there_bb2 {
  background-color: var(--color-5);
  outline: solid 2px var(--color-91);
  /* flex:0 1 300px; */
}

/* FLEX-BOX end  */

/* GRID start */

/* GRID end */

/* CSS SPITES menu start */
.socmenu {
  font-size: 0px;
  text-align: right;
  margin: 10px;
}

.socmenu li {
  display: inline-block;
  font-size: 10px;
  margin: 20px;
}

.socmenu li a {
  width: 2px;
  height: 10px;
  display: block;
  border: 2px solid var(--color-1);
  background: url(../img&links/sprite/css_spritese.png) 156px 0px;
}

.socmenu li + li a {
  background-position: 106px 0px;
}

.socmenu li + li + li a {
  background-position: 56px 0px;
}
/* CSS SPITES menu end */
