 /* html,
      body,
      div,
      span,
      applet,
      object,
      iframe,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      acronym,
      address,
      big,
      cite,
      code,
      del,
      dfn,
      em,
      img,
      ins,
      kbd,
      q,
      s,
      samp,
      small,
      strike,
      strong,
      sub,
      sup,
      tt,
      var,
      b,
      u,
      i,
      center,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      canvas,
      details,
      embed,
      figure,
      figcaption,
      footer,
      header,
      hgroup,
      menu,
      nav,
      output,
      ruby,
      section,
      summary,
      time,
      mark,
      audio,
      video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      /* article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
      body {
        line-height: 1;
      }
      ol,
      ul {
        list-style: none;
      }
      blockquote,
      q {
        quotes: none;
      }
      blockquote:before,
      blockquote:after,
      q:before,
      q:after {
        content: "";
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }  */
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #001219;
  --color-2: #005f73;
  --color-3: #0a9396;
  --color-4: #94d2bd;
  --color-5: #e9d8a6;
  --color-6: #ee9b00;
  --color-7: #ca6702;
  --color-8: #bb3e03;
  --color-9: #ae2012;
  --color-91: #9b2226;
}

body{
  font-family: serif;
}

body h1 {
  text-align: right;
  margin-right: 300px;
  color: var(--color-1);
}

.main-div div{
  margin: 50px;
}

.table-cell,.inline-block,.float{
  float: left;
}

.link{
  font-size: 25px;
  padding: 26px 66px;
  text-transform: uppercase;
}
.link:hover{
  color:var(--color-8);
}

/* from table-cell */

.main-div-table-cell {
  width: 1400px;
  padding: 30px 0;
  margin: 0 auto;
  background-color:var(--color-4)
}

.one, .two, .there, .fore {
  width: 1000px;
  /* height: 250px; */
  margin: 0 auto;
  outline: 4px solid var(--color-1);
  max-height: 300px;
}

.one-a {
  width: 1000px;
  display: table-cell;
  outline: 4px dashed var(--color-91);
  background-color: var(--color-5);
  height: auto;
  font-size: 130px;
}


.two-a,
.two-b {
  /* width: 1000px; */
  display: table-cell;
}

.two-aa,.two-bb {
  outline: 4px dashed var(--color-91);
  background-color: var(--color-5);
}
.two-aa {
  font-size: 36px;
}
.two-bb {
  font-size: 57px;
}


.there-a,
.there-b,.there-bb {
  display: table-cell;
  font-size: 50px;
  outline: 4px dashed var(--color-91);
  background-color: var(--color-5);
  width: 1000px;
}


.fore-a,.fore-b,
.fore-ab,.fore-aaa, .fore-aab
 {display: table-cell;
  outline: 4px dashed var(--color-91);
  font-size: 120px;
  background-color: var(--color-5);
}

.fore-aa,.fore-aaaa,.fore-aaaa {
  outline: 4px dashed var(--color-91);
  font-size: 20px;
}
.fore-aab {
  font-size: 60px;
}

.fore-aa{
  font-size: 98px;
}

.fore-aaaa{
  font-size: 29px;
}

/* .fore-ab,.fore-aaa, .fore-aab{
 font-size: 24px;
} */
/* .fore-aaa, .fore-aab {
 font-size: 16px;
} */
/* .fore-aab{
  font-size: 50px;
}

.fore-aa{
  font-size: 100px;
} */

/* .one .two .there .fore {
  outline: 8px dashed var(--color-91);
  background-color: var(--color-5);
}

.one,.two,.there,.fore {
  outline: 8px dashed var(--color-91);
  background-color: var(--color-5);
} */

/* .one,.two,.there,.fore div {
  outline: 8px dashed var(--color-91);
  background-color: var(--color-5);
} */

/* withou table - cell */
.fore-aa,.fore-aaaa,.fore-aaaa,.two-aa,.two-bb {
  outline: 4px dashed green;
}

/* with table - cell */
.fore-a,.fore-b,
.fore-ab,.fore-aaa, .fore-aab, .there-a,
.there-b,.there-bb, .one-a{
  outline: 4px dashed rgb(161, 10, 144);
}